/* .search-box {
  outline: none;
  width: 20rem;
  line-height: 30px;
  margin-bottom: 2.5rem;
  border: 2px solid #F4A261;
  background-color: #c1b5e9;
  text-align: center; 
  font-weight: bold;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
}

.search-box::placeholder {
  text-align: center;
  color: #1F2041;
  font-weight: 500;
  font-family: 'Kanit', sans-serif;
  letter-spacing: 2px;
} */
